$color-primary: #1A2340;
$color-secondary: #FFFF;
$color-accent: #C4C4C4; 

@font-face {
    font-family: "Lato";
    src: url(./assets/fonts/Lato-Regular.ttf);
}

body {
    background: $color-primary;
    font-family: "Lato";
    margin: 0;
}

